[server]
skip-name-resolve
innodb_buffer_pool_size = 128M
innodb_buffer_pool_instances = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 32M
innodb_max_dirty_pages_pct = 90
query_cache_type = 1
query_cache_limit = 2M
query_cache_min_res_unit = 2k
query_cache_size = 64M
tmp_table_size= 64M
max_heap_table_size= 64M
slow-query-log = 1
slow-query-log-file = /var/log/mysql/slow.log
long_query_time = 1

[client-server]
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[client]
default-character-set = utf8mb4
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
binlog_format = MIXED
innodb_large_prefix=on
innodb_file_format=barracuda
innodb_file_per_table=1
max_connections = 500
basedir                 = /usr/
datadir                 = /data/db/mysql
tmpdir                  = /tmp
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3306

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir              = /data/db/mysql
innodb_log_group_home_dir         = /data/db/mysql



# Set .._log_file_size to 25 % of buffer pool size

innodb_log_file_size              = 150M
innodb_log_buffer_size            = 8M
innodb_flush_log_at_trx_commit    = 0
innodb_lock_wait_timeout          = 50


aria-log-dir-path       = /data/log/mysql/
general_log_file        = /data/log/mysql/mysql.log
general_log             = 0

long_query_time         = 2
slow-query-log          = 1
slow-query-log-file     = /data/log/mysql/mysql-slow.log
log_queries_not_using_indexes =1

[mysqldump]
quick
max_allowed_packet = 64M
